body {
    margin:0;
}

.main {
    width: 100vw;
    height: 300px;
    background-color: red;

    display: flex;
    justify-content: space-around;
}

.imageContainer {
    height: 300px;
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

.fadeOut {
    animation: fadeOut 1s;
}

@keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.circle {
    margin: 0px 5px;
    font-size: 30px;
}

.circle:hover {
    cursor: pointer;
}